/*
Este es mi hoja de estilos de mi index.html
*/


span {
    font-family: 'Roboto', sans-serif;
}

time {
    font-size: 1em;
}

h4 {
    font-size: 2em;
}

p {
    font-size: 0.9em;
}

.articles {
    display: flex;
    align-items: stretch;
}

.about-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    color: #808080;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.fecha {
    font-size: 1em;
    color: #ffffff;
}

.titulos {
    color: #ffffff;
    font-size: 3em;
    font-weight: bold;
    margin-top: 0px;
}

.textos {
    color: #ffffff;
    size: 0.9em;
    font-weight: 100;
}

.read-article {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.5em;
    position: absolute;
    bottom: 40px;
}

.boxCeleste {
    background-color: #0082c8;
    padding: 10px;
}

.boxMarron {
    background-color: #73616f;
    padding: 10px;
}

.boxCoral {
    background-color: #e8856c;
    padding: 10px;
}

.boxAzul {
    background-color: #16528e;
    padding: 10px;
}

.boxRojo {
    background-color: #e54b4b;
    padding: 10px;
}

.boxVerdeClaro {
    background-color: #a2c5bf;
    padding: 10px;
}